body {
  margin: 0;
}

body.lock {
  height: 100vw;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  body {
    padding: 1em;
  }
}

main {
  margin: 0 auto;
  max-width: 600px;
  padding-top: 1em;
  padding-bottom: 3em;
}

main.wide,
main.fill {
  max-width: 90%;
}

html,
body,
main.markdown-body {
  background-color: #191d21;
}

body .markdown-body img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 400px;
  margin: 0 auto;
  display: block;
  margin-bottom: 1em;
  cursor: pointer;
}

main.fill .photos {
  display: flex;
  flex-wrap: wrap;
}

body main.fill img {
  width: 200px;
  min-width: initial;
  min-height: initial;
}

body .markdown-body h1,
body .markdown-body h2,
body .markdown-body h3,
body .markdown-body p {
  text-align: center;
  color: #dad8d8;
  letter-spacing: 0;
  line-height: 1.6;
}

body .markdown-body code {
  background-color: #373739;
}

body .markdown-body a>code {
  color: #A6CEFC;
}


body .markdown-body p {
  text-align: left;
}

body .markdown-body h2,
body .markdown-body h3 {
  border-bottom: 0;
  margin: 0;
  padding: 0;
}

body .markdown-body h3 {
  color: #aaa;
  font-size: 1.1em;
  margin-bottom: 1em;
}

header {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
}

footer {
  color: #aaa;
  text-align: center;
  padding-bottom: 2em;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.view label {
  margin-right: 0.2em;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: black;
  justify-content: center;
}

body.lock .modal {
  display: flex;
}
