.backBtnWrapper {
  padding: 15px;
}

.image {
  width: 100%;
  height: 100%;
  min-height: 300px;
  background: #002240;
}

.title {
  padding-left: 15px;
}

@media (min-width: 480px) {
  .photosWrapper {
    display: flex;
    flex-direction: row;
    width: 80vw;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: flex-start;
  }

  .image {
    width: 40vw;
  }
}
